html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(29, 29, 29);
    font-size: 15px;
    line-height: 1.5;
}

h1 {
    font-family: 'Caveat', cursive;
    color: aliceblue;
    font-size: 160px;
    margin-left: 80px;
}

h2 {
    color: rgb(117, 181, 236);
    font-family: 'Caveat', cursive;
    font-size: 80px;
    margin-left: 80px;
}

.table {
    border-spacing: 50px;
    margin-left: 100px;
}


/* header styles */

.topbar {
    overflow: hidden;
    background-color: #333;
    transition: 0.6s;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 900;
}

.topbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 20px;
    z-index: 900;
}

.topbar a:hover {
    background-color: #2b2525;
    color: rgb(99, 248, 112);
}

.baritem {
    margin-left: 80px;
    background-color: rgb(58, 104, 86);
    color: antiquewhite;
}

#textfr {
    padding-top: 5%;
}


/* Projects
------------------------------------*/


/* / #projects {
    background-color: rgb(32, 25, 34);
    height: 100vh;
    width: 100vw;
}

.projects a {
    color: #2F3061;
}

.projects .btn {
    color: #F7FFF7;
    background: #2F3061;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.projects .btn:hover {
    background: rgba(47, 48, 97, 80%);
}

.project-item {
    overflow: hidden;
    border-bottom: 1px dashed #343434;
    padding: 25px 0;
}

.project-item img {
    float: left;
    margin-right: 20px;
}

.project-item h3 {
    margin-top: 0;
    color: rgb(117, 181, 236);
    font-family: 'Caveat', cursive;
}
*/


/* Contact Info
------------------------------------*/

footer {
    background-color: rgb(29, 29, 29);
}

.section {
    color: rgb(255, 255, 255);
    font-size: 80px;
    margin-left: 50px;
    padding-top: 5%;
}

#imgme {
    border: 20px solid #ddd;
    border-radius: 10px;
    margin-left: 100px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
}


/* education */

.texteducation {
    color: rgb(255, 255, 255);
}

#imgdiploma {
    border: 20px solid #ddd;
    width: 320px;
    height: 240px;
}

.textresume {
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: justify;
    margin-left: 400px;
}

#nameschool {
    font-size: 36px;
    color: rgb(255, 255, 255);
    margin-left: 100;
}

#degree {
    font-size: 24px;
    color: rgb(255, 255, 255);
    margin-left: 100;
}

#year {
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-left: 100;
}


/* footer */

#bottompage {
    height: 5vh;
    width: 100vw;
}

#textbottom {
    color: rgb(255, 255, 255);
    font-size: 17px;
    position: absolute;
    left: 10px;
}

#textfooter {
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: justify;
    margin-left: 50px;
}

#source {
    color: rgb(255, 255, 255);
    font-size: 18px;
    position: absolute;
    right: 90px;
}

#icongithub {
    width: 25px;
    height: 25px;
}

.slidetext {
    animation-name: slidetext;
    animation-duration: 1s;
    visibility: visible;
}

@keyframes slidetext {
    0% {
        opacity: 0;
        transform: translateX(-70%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}


/* Responsive
------------------------------------*/

@media screen and (min-width:750px) {
    .project-item img {
        float: left;
        margin-right: 20px;
    }
    .job-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }
    .contact-list {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:749px) {
    h1 {
        font-size: 75px;
        line-height: 0.9;
        margin-bottom: 20px;
    }
    h2 {
        line-height: 1;
    }
    .contact-list a {
        padding: 5px;
    }
}